:root {
    --border-color: #dbdbdb;
}

body {
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    outline: none;
}

.selected_list {
    background-color: white;
    width: calc(100% - 30px);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 8px 13px 0 13px;
    display: flex;
    overflow: auto;
    align-items: center;
}

.selected_container {
    position: relative;
}

.selected_text_block {
    background-color: var(--border-color);
    border-radius: 15px;
    padding: 7px 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 14px;
    white-space: nowrap;
    margin-bottom: 8px;
}

.selected_text_block span {
    font-size: 15px;
    font-weight: 600;
    color: #6b6b6b;
}

.close_icon {
    width: 13px;
    height: 13px;
    background-image: url("../../../assets/img/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1px;
    cursor: pointer;
    margin-left: 10px;
}

.add_icon_map {
    width: 14px;
    height: 13px;
    background-image: url("../../../assets/img/add.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 1px;
}

.add {
    cursor: pointer;
}

.close_all {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    right: -2px;
    cursor: pointer;
    margin-left: auto;
    margin-top: -6px;
}

.close_all .close_icon {
    margin-left: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.drop_down_list {
    background-color: white;
    width: calc(100% - 4px);
    position: absolute;
    margin-top: -3px;
    border: 1px solid var(--border-color);
    padding: 5px 0 5px 0;
    z-index: 9;
    max-height: 250px;
    overflow: auto;
}

.drop_down_list li:hover {
    background-color: #e6e6e6;
}

.drop_down_list li {
    padding: 8px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #282828;
    list-style: none;
}

.select {
    display: flex;
    flex-wrap: wrap;
}

.exists {
    background-color: #e6e6e6;
}